<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= form_with url: "/color_palettes/analyze", local: true, method: :post, html: { multipart: true } do |form| %>
  <%= form.file_field :image_path %>
  <%= form.submit "Analyze" %>
<% end %>


