<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<%= form_tag("/color_palettes/analyze", multipart: true, method: :post) do %>
    <%= file_field_tag "image_path" %>
    <%= submit_tag "Analyze" %>
<% end %>


