//= require_tree .
@import "bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';



.container-magic-grid div {
    word-break: break-all;
    display: flex;
    padding: 0.5em;
}

.body {
	font-family: 'Varela Round', sans-serif;
}
.form-control {
	box-shadow: none;		
	font-weight: normal;
	font-size: 16px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}

.navbar .form-inline {
	display: inline-block;
}
.navbar a {
	color: #888;
	font-size: 15px;
}

.search-box input {
	padding-right: auto;
	border-color: #dfe3e8;
	box-shadow: none
}


.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .action-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}


.form-check-label input {
	position: relative;
	top: 1px;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: auto;
		margin-left: 30px;
	}
}



.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    padding-top: 20px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-inline .input-group {
    width: auto;
}

.flex-form {
    display: flex;
    align-items: center;
}

.btn-secondary{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navbar-nav.ml-auto {
    margin-left: 1%;
}

.nav-item-custom, .flex-grow-custom {
	flex-grow: 1;
}
  
.nav-item-custom .nav-link {
	text-align: center;
}

.form-inline .form-control{
	width: 500px ;
}