// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.post-container {
  display: flex;
  margin-bottom: 20px;
}

.color-palette {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.color-row {
  width: 28px;
  flex: 1;
  border-radius: 0px;
}

.color-row:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.color-row:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.col-sm-2 {
  min-width: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.container-show {
  min-width: 300px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.image-container {
  padding-right: 0px;
  margin-left: 0px;
  overflow: auto;
}
  
.postimage {
  border-radius: 10px;
}


.color-palette-show {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  align-items: stre;
}

.color-row-show {
  width: 28px;
  height: 20px; 
  flex: 0 1 auto; 
  border-radius: 0px;
}

.color-row-show {
  flex-grow: 1;
}

.postimage {
  margin-left: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content:  center;
}

.carousel-item img {
  object-fit: cover;
  width: 90%;
  height: 200px; 
}

.DivLink{
    position: relative;
}

.DivLink .Link{
    position: absolute;
    width: 100%;
    height: 20px;
}

